body {
  background-color: #a9d6e5;
  font-family: 'Roboto', sans-serif;
}

#intro {
  display: flex;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.body {
  padding: 0 8%;
}

.warning {
  font-weight: bold;
}

input {
  margin: 0 0.25em;
}

.bottomButton {
  margin-left: 1em; 
  margin-bottom: 0.5em;
}

#banner {
  margin: 1rem 0;
}
#logo {
  margin-right: 0.25em;
  width: 25px;
  height: 25px;
}

.body {font-size:1.15rem;} 
 
@media (min-width: 760px) {
  .body {font-size:1.325rem;}
}
@media (min-width: 1200px) {  
  .body {font-size:1.5rem;}     
}