body {
  background-color: #a9d6e5;
  font-family: 'Roboto', sans-serif;
}

#intro {
  font-size: 1.2em;
  display: flex;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.body {
  text-align: left;
  padding: 0 8%;
}

.warning {
  font-weight: bold;
}

input {
  margin: 0 0.25em;
}

.bottomButton {
  margin-left: 1em; 
  margin-bottom: 0.5em;
}

img {
  margin-right: 0.25em;
}